/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/roboto-v30-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-latin-100.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v30-latin-100.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v30-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v30-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-v30-latin-100.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v30-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v30-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v30-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v30-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v30-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-v30-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v30-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v30-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-v30-latin-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
}

html {
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
}
body {
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
}

a:hover {
  color: #f9804b; /* Цвет ссылки при наведении на нее курсора мыши */
  text-decoration: underline; /* Добавляем подчеркивание */
}
a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.header {
  display: flex;
  max-height: 80px;
  background-color: #000000;
}
.header_link {
  font-family: roboto;
  font-size: 16px;
  color: #ffffff;
}
.header_link1 {
  font-family: roboto;
  font-size: 16px;
  color: #f9804b;
}
.pet_link {
  display: flex;
  margin-bottom: 30px;
}
.header_about {
  margin-left: 25px;
  margin-top: 7px;
}
.header_map {
  margin-left: 58px;
  margin-top: 7px;
}
.header_zoos {
  margin-left: 58px;
  margin-top: 7px;
}
.header_donate {
  margin-left: 58px;
  margin-top: 7px;
}
.header_contact {
  margin-left: 59px;
  margin-top: 7px;
}

.header_logo {
  display: inline-flex;
  margin-left: 220px;
}
.header_logo_pic {
  margin-top: -13px;
}
.header_list {
  display: flex;
  list-style: none;
}
.designet {
  margin-left: 440px;
  margin-top: 31px;
}
.main,
.main_wraper {
  display: flex;
  max-width: 1600px;
}


.Pick_and_feed_a_friend {
  display: flex;
  flex-direction: column;
}
.donate_panda {
  margin-top: -5px;
  width: 1600px;
  height: 390px;
  background-image: url("./images main/panda donate.jpg");
}
.pick_wraper {
  display: flex;
  flex-direction: column;
  height: 1481px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}
.help {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
  margin-top: 42px;
  margin-left: 220px;
}
.pick_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  max-width: 1160;
  margin-top: -27px;
  margin-left: 220px;
}
.information {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
  margin-top: 30px;
  margin-left: 220px;
}
.pick_block {
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  max-height: 964px;
  height: 100%;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin-top: 23px;
  margin-left: 217px;
}
.pick_feed {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
  margin-right: 10px;
}
.pick_know {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  margin-top: -18px;
  margin-left: 94px;
}
.block1 {
  display: flex;
}
.block2{
  
  width: 976px;
  height: 27px;
  
  margin-top: 86px;
  margin-left: 94px;
  
  background: #404950;
  border-radius: 2px;
  }
  
  .line{
      
      margin-top: 0px;
      margin-left: 32px;
      
  }
  .radio_pick{
  width: 10px;
  height: 10px;
  background: #FFEE2E;
  text-decoration: none;
  }
  .block3 li {
     margin: 0px;
     padding: 0px;
      list-style-type: none;
  }
  .block3{
    
      display: flex;
      flex-direction: row;
    
      top: 6.5px;
      left: 20px;
  }
  .pic1 {
    margin-top: -43px;
    margin-left: -170px;
  }
  .pic2 {
    margin-top: -43px;
    margin-left: -40px;
  }
  .pic3 {
    margin-top: -3px;
    margin-left: -170px;
  }
  .pic4 {
    margin-top: -3px;
    margin-left: -170px;
  }
  .pic5 {
    margin-top: -3px;
    margin-left: -170px;
  }
  .pic6 {
    margin-top: -3px;
    margin-left: -170px;
  }
  .pic7 {
    margin-top: -3px;
    margin-left: -170px;
  }
  .pic8 {
    margin-top: -3px;
    margin-left: -170px;
  }
  
  .block3 input[type='radio']:after {
      position: relative;
      bottom: 2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: relative;
      background-color: #FFEE2E;
      content: '';
      display: inline-block;
      visibility: visible;
      
  }
  .block3 input[type='radio']:checked:after {
      z-index: 40;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          top: -15px;
          left: -15px;
          position: relative;
          background-color: #d9ff00;
          content: '';
          display: inline-block;
          visibility: visible;
          cursor: pointer;
          user-select: none;
          background: url(/ponyblr-JSFE2022Q3/online-zoo/assets/icons/icon--donate/roller_icon.svg);
      }
      .bucks{
        margin-top: 12px;
        display: flex;
    }
        .bucks_number{
            font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    
    color: #333B41;
    margin-right: 52px;
        }
    
   



.number_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333b41;
  margin-top: 233px;
  margin-left: -100px;
}
.number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-left: 369px;
  margin-top: 165px;
}
.cross {
  margin-top: 90px;
  margin-left: 11px;
}
.panda_svg {
  margin-left: 63px;
  margin-top: 106px;
}
.stripe {
  width: 976px;
  height: 27px;
  margin-top: 87px;
  margin-left: 95px;
}
.bucks {
  display: flex;
  flex-direction: row;
  padding-left: 33px;
}
.bucks_number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333b41;
  padding-top: 13px;
}
.num5000 {
  margin-left: 59px;
}
.num2000 {
  margin-left: 57px;
}
.num1000 {
  margin-left: 57px;
  
}
.num500 {
  margin-left: 55px;
}
.num250 {
  margin-left: 70px;
}
.num100 {
  margin-left: 70px;
}
.num50 {
  margin-left: 71px;
}
.num25 {
  margin-left: 88px;
}
.donate_feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input_donate {
  border: 1px solid #929699;
  background: none;
  height: 54px;
  width: 268px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 16px;
  color: #929699;
margin-top: 48px;
  margin-right: 170px;
}
.input_donate:focus:invalid {
  border-color: red;
  color: red;
}
.input_donate:focus:valid {
  border-color: #4b9200;
  color: #4b9200;
}
.block3 {
  display: flex;
  flex-direction: column;
  margin-left: 177px
  
}
.radio {
margin-left: 24px;
  cursor: pointer;
}
.radio1 {
  margin-left: 50px;
  border: 5px solid;
  cursor: pointer;
}
.input_text {

margin-left: 18px;
}
.input_text1 {
  margin-left: 15px;
}
.radio_text{
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  margin-top: 10px;
  
}
label {
  
  color: #333B41;
}
.donate_feed_button {
  border: none;
  border-radius: 25px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  width: 298px;
  margin-bottom: 30px;
  margin-top: 13px;
  margin-left: 15px;
  cursor: pointer;
}
.donate_feed_button:hover {
  background: #767474;
}
.donate_feed_button:active {
  background: #4b9200;
}
.donate_feed_button {
  align-self: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.share_with {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
margin-top: -0px;
margin-left: 11px;
}
.footer {
  display: flex;
  background-color: #111115;
  
 
  

}
.footer_wraper {
  display: flex;
  background-color: #111115;
}
.footer_block1 {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  margin-left: 220px;
}
.donate_footer {
  display: flex;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2);
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  margin-top: 37px;
  margin-left: 2px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.donate_footer:hover {
  background: #767474;
}
.donate_footer:active {
  background:  #4B9200;
}
.social_link {
  list-style-type: none;
}
.social {
  margin-top: 39px;
  margin-left: -38px;
}
.social_link {
  padding-top: 5px;
}
.footer_nav {
  display: flex;
}
.footer_about,
.footer_map,
.footer_zoos,
.footer_donate,
.footer_contact {
  list-style-type: none;
}
.footer_list {
  display: flex;
  gap: 58px;
  margin-top: 371px;
  margin-left: 60px;
}
.footer_contact {
  display: inline;
}
.footer_link1 {
  font-family: roboto;
  font-size: 16px;
  color: #f9804b;
}
.footer_link {
  font-family: roboto;
  font-size: 16px;
  color: #ffffff;
}
.subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  margin-top: 42px;
  margin-left: 32px;
}
.footer_form {
  margin-top: -11px;
  margin-left: 31px;
}
.footer_input {
  width: 228px;
  height: 42px;
  border-color: #f9804b;
  background-color: #111115;
}
.footer_input, select, textarea{
  color: #ff0000;
}

textarea:focus, input:focus {
  color: #bdbdbd;
}
.footer_input:invalid {
  border-color: red;
}

.footer_input:focus:valid {
  border: 0.5px solid #4b9200;
  color: #4b9200;
}
::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
  padding: 6px;
}
.footer_submit {
  width: 129px;
  height: 42px;
  background: #f1f3f2;
  border: 1px solid #4b9200;
  border-radius: 5px;
  margin-left: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4b9200;
}
.footer_submit:hover {
  background-color: #bdbdbd;
}
.footer_sumbit:active {
  background-color: #4b9200;
  color: #eaf7fe;
}
.footer_text1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ababab;
  margin-top: 216px;
  margin-left: 171px;
}
.footer_text2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ababab;
  margin-top: -5px;
  margin-left: 171px;
}
.img:hover {
  filter: brightness(50%);
}