/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/roboto-v30-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-latin-100.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v30-latin-100.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v30-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v30-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-v30-latin-100.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v30-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v30-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v30-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v30-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v30-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-v30-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v30-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v30-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-v30-latin-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
}

html {
  max-width: 1600px;
  margin: 0 auto;
}
body {
  margin: 0 auto;
  color: #fff;
  display: flex;
}

a:hover {
  color: #f9804b; /* Цвет ссылки при наведении на нее курсора мыши */
  text-decoration: underline; /* Добавляем подчеркивание */
}
a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.header {
  display: flex;
  max-height: 80px;
  background-color: #000000;
}
.header_link {
  font-family: roboto;
  font-size: 16px;
  color: #ffffff;
}
.header_link1 {
  font-family: roboto;
  font-size: 16px;
  color: #f9804b;
}
.header_link1:hover {
  color: #ffffff;
}
.header_link1:active {
  color: rgb(94, 173, 238);
}
.pet_link {
  display: flex;
  margin-bottom: 30px;
}
.header_about {
  margin-left: 25px;
  margin-top: 7px;
}
.header_map {
  margin-left: 58px;
  margin-top: 7px;
}
.header_zoos {
  margin-left: 58px;
  margin-top: 7px;
}
.header_donate {
  margin-left: 58px;
  margin-top: 7px;
}
.header_contact {
  margin-left: 59px;
  margin-top: 7px;
}

.header_logo {
  display: inline-flex;
  margin-left: 220px;
}
.header_logo_pic {
  margin-top: -13px;
}
.header_list {
  display: flex;
  list-style: none;
}
.designet {
  margin-left: 440px;
  margin-top: 31px;
}
.main,
.main_wraper {
  display: flex;
  max-width: 1600px;
}
.panda_pic {
  display: flex;
  flex-flow: column;
  width: 1600px;
  height: 780px;
  background-image: url("./images main/panda.jpg");
  background-position: center calc(-80px);
  background-repeat: no-repeat;
}
.panda_watch:hover {
  background: #767474;
}
.panda_watch:active {
  background: #4B9200;
}
.panda_watch {
  display: flex;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2 + 332px);
  top: 626px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  margin-top: 60px;
  margin-left: 973px;
  border: none;

  cursor: pointer;
}
.panda_batton_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-top: 6%;
  margin-left: 36%;
  text-transform: uppercase;
  color: #ffffff;
}

.panda_text {
  margin-top: 10px;
  margin-left: 808px;
}
.circle_text {
  font-family: roboto;
  font-style: bold;
  font-size: 106.5px;
  line-height: 80px;
  font-weight: 700;
}

.circle {
  display: flex;
  width: 465px;
  height: 465px;
  background: linear-gradient(to right, #f9804b, #fe9013);
  border-radius: 50%;
}
.circle_text {
  display: flex;
  flex-wrap: wrap;
  width: 465px;
  margin-top: -391px;
  margin-left: 0px;
}
.circle_span1 {
  margin-left: 140px;
}
.circle_span2 {
  margin-left: 186px;
}
.circle_span3 {
  margin-left: 82px;
}
.circle_span4 {
  margin-left: 123px;
}
.circle_span5 {
  margin-left: 138px;
}
.the_backstage {
  display: flex;
  margin-top: 58px;
}
.text_backstage {
  display: flex;
  flex-direction: column;
}
.foto_backstage {
  margin-left: 220px;
}
.backstage_word {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333b41;
  margin-top: 1px;
  margin-left: 86px;
}
.site_backstage {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
  margin-top: -18px;
  margin-left: 86px;
}
.how_backstage {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  margin-top: 54px;
  margin-left: 86px;
}
.goal_backstage {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
  margin-top: 34px;
  margin-left: 86px;
}
.flower_backstage {
  margin-top: -126px;
}

.pets_pic {
  display: grid;
  margin: 30px;
  margin-top: 96px;
  align-self: start;
  max-width: 1160px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 28px;
  grid-row-gap: 20px;
  margin-left: 218px;
}
.pets_pic1,
.pets_pic2,
.pets_pic3,
.pets_pic4,
.pets_pic5,
.pets_pic6 {
  position: relative;
  max-height: 426px;
  height: 100%;
  border: 1px solid sandybrown;
  border-radius: 5px;
}

.text1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  margin-left: 16px;
  margin-top: -39px;
}
.text2 {
  font-family: "Roboto";
  font-style: normal;
  margin-left: 17px;
  margin-top: -19px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}
.pets_svg {
  margin-left: 320px;
  margin-top: 8px;
}
.text3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  margin-left: 16px;
  margin-top: 3px;
  z-index: 0;
}
.text4 {
  font-family: "Roboto";
  font-style: normal;
  margin-left: 17px;
  margin-top: -18px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}
.pets_svg1 {
  position: absolute;
  margin-left: 315px;
  margin-top: 7px;
}
.pets_svg2 {
  position: absolute;
  margin-left: 320px;
  margin-top: 15px;
}

.pets_pic :hover {
  transform: scale(1.04);
  background-color: #504e4e;
  transition: all 0.5s;
}
.pets_arrow_left {
  margin-top: -498px;
  margin-left: 137px;
}
.pets_arrow_right {
  margin-top: -68px;
  margin-left: 1398px;
}
.pets_block2 {
  display: flex;
  flex-wrap: wrap;
}
.choose {
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2);
  margin-left: 360px;
  background: #fe9013;
  border-radius: 25px;
  margin-top: 483px;
  border: none;
  cursor: pointer;
}
.choose:hover {
  background: #767474;
}
.choose:active {
  background: #4B9200;
}
.choose_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.flower_left {
  margin-top: 177px;
}
.flower_right {
  margin-top: 362px;
  margin-left: 281px;
}
.pick_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
}
.Pick_and_feed_friend {
  display: flex;
  max-height: 1004px;
  max-width: 1600px;
  height: 100%;
  margin-top: -5px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
}
.pick_block {
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  max-height: 835px;
  margin-top: 68px;
  margin-left: 222px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}
.cards {
  display: flex;
  margin-left: 196px;
  margin-top: 3px;
}
.pick_link {
  margin-top: 42px;
}
.pick_text1 {
  width: 843px;
  height: 29px;
  left: calc(50% - 843px / 2 - 59.5px);
  top: 198px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  margin-top: 31px;
  margin-left: 97px;
}
.pick_text2 {
  width: 1061px;
  height: 21px;
  left: calc(50% - 1061px / 2 + 49.5px);
  top: 267px;
  margin-left: 97px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
}
.pick_text3 {
  width: 863px;
  height: 42px;
  left: calc(50% - 863px / 2 - 49.5px);
  margin-top: -6px;
  margin-left: 97px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
}
.pick_link_fund {
  color: #333b41;
  text-decoration: #fe9013;
  text-decoration-line: underline;
}
.pick_how {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
  margin-top: 44px;
  margin-left: 473px;
}
.pick_pay {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
  margin-top: 26px;
}
.pick_arrow1 {
  margin-bottom: 200px;
  margin-left: 30px;
}
.cards_block2 {
  margin-left: 30px;
}
.pick_payment {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
  margin-top: 26px;
}
.pick_arrow2 {
  margin-bottom: 205px;
  margin-left: 28px;
}
.cards_block3 {
  margin-left: 30px;
}
.pick_your {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
  margin-top: 26px;
}
.button_pick {
  width: 298px;
  height: 54px;
  border-radius: 25px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.button_pick:hover {
  background: #767474;
}
.button_pick:active {
  background: #4B9200;
}
.form_pick {
  margin-top: 305px;
  margin-left: -530px;
}
.testimonials_h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333b41;
  margin-top: 142px;
}
.testimonials_card {
  display: flex;
  column-gap: 30px;
}
.michael,
.oscar,
.fredericka,
.mila {
  width: 268px;
  height: 391px;
}
.michael {
  margin-left: 221px;
  margin-top: 9px;
  background-image: url("./images main/michael.jpg");
}
.oscar {
  margin-top: 9px;
  background-image: url("./images main/oscar.jpg");
}
.fredericka {
  margin-top: 9px;
  background-image: url("./images main/fredericka.jpg");
}
.mila {
  margin-top: 9px;
  background-image: url("./images main/mila.jpg");
}
input[type="range"] {
  margin-top: 20px;
  margin-left: 500px;
  width: 599px;
  height: 8px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.feedback {
  display: flex;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2);
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  margin-top: 27px;
  margin-left: 221px;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.feedback:hover {
  background: #767474;
}
.feedback:active {
  background: #4B9200;
}
.leve {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  overflow: hidden;
}
.leav_foto {
  position: absolute;
  height: 274.48px;
  margin-top: -95px;
  margin-left: 1354px;
  overflow: hidden;
}
.footer {
  display: flex;
  max-height: 441px;
  height: 100%;
  background-color: #111115;
  margin-top: 338px;
}
.footer_wraper {
  display: flex;
}
.footer_block1 {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  margin-left: 220px;
}
.donate_footer {
  display: flex;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2);
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  margin-top: 37px;
  margin-left: 2px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.donate_footer:hover {
  background: #767474;
}
.donate_footer:active {
  background:  #4B9200;
}
.social_link {
  list-style-type: none;
}
.social {
  margin-top: 39px;
  margin-left: -38px;
}
.social_link {
  padding-top: 5px;
}
.footer_nav {
  display: flex;
}
.footer_about,
.footer_map,
.footer_zoos,
.footer_donate,
.footer_contact {
  list-style-type: none;
}
.footer_list {
  display: flex;
  gap: 58px;
  margin-top: 371px;
  margin-left: 60px;
}
.footer_contact {
  display: inline;
}
.footer_link1 {
  font-family: roboto;
  font-size: 16px;
  color: #f9804b;
}
.footer_link1:hover {
  color: #ffffff;
}
.footer_link1:active {
  color: rgb(94, 173, 238);
}
.footer_link {
  font-family: roboto;
  font-size: 16px;
  color: #ffffff;
}
.subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  margin-top: 42px;
  margin-left: 32px;
}
.footer_form {
  margin-top: -11px;
  margin-left: 31px;
}
.footer_input {
  width: 228px;
  height: 42px;
  border-color: #f9804b;
  background-color: #111115;
}
.footer_input, select, textarea{
  color: #ff0000;
}

textarea:focus, input:focus {
  color: #bdbdbd;
}
.footer_input:invalid {
  border-color: red;
}

.footer_input:focus:valid {
  border: 0.5px solid #4b9200;
  color: #4b9200;
}

::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
  padding: 6px;
}
.footer_submit {
  width: 129px;
  height: 42px;
  background: #f1f3f2;
  border: 1px solid #4b9200;
  border-radius: 5px;
  margin-left: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4b9200;
}
.footer_submit:hover {
  background-color: #bdbdbd;
}
.footer_sumbit:active {
  background-color: #4b9200;
  color: #eaf7fe;
}
.footer_text1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ababab;
  margin-top: 216px;
  margin-left: 171px;
}
.footer_text2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ababab;
  margin-top: -5px;
  margin-left: 171px;
}
.img:hover {
  filter: brightness(50%);
}
